html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body { 
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.event {
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
  max-width: 28%;
  margin: 2rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.event-img {
  width: 100%;
  top: 0;
  }

  .event-name {
    margin-bottom: 0;
  }

  
.event-info {
  padding: 1rem;
}

.event-date {
  margin: 0;
}

.more-btn {
  margin: 1rem;
  padding: 1rem 5rem;
  width: 90%;
  border: 0;
}



nav {
  display: flex;
  background-color: #2e3440;
  padding: 0 1rem;

  a {
    color: white;
    text-decoration: none;
    padding: 1rem;
  }

  .home {
    margin-left: auto;
  }
}


body {
  position: relative;
}

section {
  position: absolute;
  background-color: white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.modal {
  display: flex;
  width: 80%;
  border: 1px solid black;
}

.modal .modal-info {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 50px;
}

.modal .modal-form {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  flex-direction: column;
  margin: 0 50px;
}

form {
  margin-top: 2.5rem;
}

label,
input {
  width: 80%;
}

label {
}

input {
  border: none;
  border-bottom: 1px solid black;
}
